/*var*/
body {
  padding-top: 273px;
  margin: 0 20px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2 {
  font-weight: 300; }

.ellipsis, .opp-name div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.fa {
  font-size: 1.2em; }

.nocollapse .form-control {
  display: inline-block;
  width: auto; }

.form-control {
  box-shadow: none; }

.input-group .form-control {
  border-right-color: transparent; }

.input-group-addon {
  padding: 1px 2px;
  background-color: #fff; }
  .input-group-addon .btn-link {
    margin: 0;
    padding: 0 2px; }

.multi-selected {
  height: auto; }
  .multi-selected div {
    display: inline-block;
    background-color: #6596cb;
    border-radius: 4px;
    color: #fff;
    padding: 0 5px;
    white-space: nowrap;
    margin: 1px; }
    .multi-selected div .fa {
      cursor: pointer; }
      .multi-selected div .fa:hover {
        color: black; }

.btn-success {
  background-color: #71c789;
  border-color: #71c789; }

.btn-primary {
  background-color: #6596cb;
  border-color: #6596cb; }

.btn-link {
  color: #6596cb; }

.btn {
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1); }

.bttn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
  color: #6194ca; }
  .bttn:hover {
    background-color: #eee; }

.btn-help {
  color: #767e7c;
  background-color: transparent;
  border: 0 none;
  padding: 0;
  margin: 0; }

.bttn-group {
  margin-bottom: 10px; }

.navbar-fixed-top {
  min-width: 720px; }

.navbar-header {
  height: 55px; }

/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee; }

.navbar {
  background-color: #fff;
  margin-bottom: 0; }

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0; }

.svg-state {
  height: 100px;
  overflow: hidden; }

.svgtext {
  text-align: center; }

.top {
  padding: 0 20px; }

h1 {
  margin-top: 15px;
  margin-bottom: 8px;
  font-size: 28px; }

.row1, .row2 {
  padding: 14px 18px 0; }

.row1 {
  background-color: #DDD;
  height: 65px; }

.row2 {
  background-color: #bbb;
  height: 50px; }
  .row2 label {
    color: #fff;
    font-size: 16px; }

.opp-name {
  max-width: calc(100% - 475px);
  position: relative; }
  .opp-name div {
    font-size: 25px;
    line-height: 25px; }
  .opp-name button {
    position: absolute;
    top: -7px;
    right: -40px;
    font-size: 20px; }

/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 273px;
  bottom: 0;
  left: 20px;
  z-index: 1000;
  display: block;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #aeafb0;
  border-left: 1px solid #aeafb0;
  width: 273px; }
  .sidebar .req {
    color: #c84e51; }

/* Sidebar navigation */
.nav-sidebar {
  border-bottom: 1px solid #aeafb0; }
  .nav-sidebar div {
    padding: 14px 18px;
    padding-left: 44px;
    cursor: pointer; }
    .nav-sidebar div:hover {
      background-color: #deebfa; }
  .nav-sidebar .hdr {
    padding-left: 12px; }
  .nav-sidebar .active {
    background-color: #deebfa; }
    .nav-sidebar .active .fa {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); }
  .nav-sidebar .hdr ~ div {
    display: none; }
  .nav-sidebar .active ~ div {
    display: block; }

.mainarea {
  margin-left: 273px;
  padding: 20px;
  background-color: #f1f1f1; }
  .mainarea .req label:after {
    content: " *";
    color: #c84e51; }

.panel-group {
  border-top: 1px solid #ddd; }

.panel-group .panel + .panel {
  margin-top: 0; }

.panel-group .panel {
  border-radius: 0; }

.panel {
  border-width: 0 0 1px 0; }

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
  .panel-heading .collapsed .fa {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }

.panel-default > .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd; }

.panel-group .panel-heading + .panel-collapse {
  border-top: 3px solid #be5a57; }

.panel-group .panel-heading + .panel-collapse > .panel-body {
  border: 10px solid #999; }

.panel-title > a, .morefeilds .hdr {
  color: #428bca;
  cursor: pointer; }
  .panel-title > a .fa, .morefeilds .hdr .fa {
    color: #be5a57; }

.morefeilds .hdr {
  margin: 10px 0 20px; }

.panelfooter {
  text-align: right; }

/*# sourceMappingURL=main.css.map */