
body {
    padding-top: $topDist;
    margin: 0 20px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2 {
    font-weight: 300
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fa{
  font-size: 1.2em;
}

.nocollapse .form-control{
  display: inline-block;
  width: auto;
}
