.navbar-fixed-top {
    min-width: $siteMinWidth;
    border: 0;
}
.navbar-header {
    height: 55px;
}
.navbar {
    background-color: #fff;
    margin-bottom: 0
}
.caplink-logo {
    height: 55px;
    width: 140px;
}
