.form-control{
  box-shadow: none;
}

.input-group .form-control {
  border-right-color: transparent;
}

.input-group-addon{
  padding: 1px 4px;
  background-color: #fff;
  .btn-link{
    margin:0;
    padding:0 1px;
  }
}

.multi-selected {
  height: auto;
  div{
    display: inline-block;
    background-color: $owBlue;
    border-radius: 4px;
    color: #fff;
    padding: 0 5px;
    white-space: nowrap;
    margin: 1px;
    &:hover{
      background-color: lighten($owBlue, 10%);
    }
    .fa{
      cursor: pointer;

      &:hover{
        color: #444;
      }
    }
  }

}


.datepicker{
  z-index: 1030 !important;
}
