
.mainarea{
  margin-left: 273px;
  padding: 20px;
  background-color: #f1f1f1;

  .req label:after{
        content: " *";
        color: #c84e51;
  }

}

.panel-group {
  border-top: 1px solid #ddd;
}
.panel-group .panel+.panel {
  margin-top: 0;
}
.panel-group .panel {
  border-radius: 0;
}
.panel{
  border-width: 0 0 1px 0;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  .collapsed{
    .fa{
      transform: rotate(-90deg);
    }
  }
}
.panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}


.panel-group .panel-heading+.panel-collapse {
  border-top: 3px solid #be5a57;
}
.panel-group .panel-heading+.panel-collapse>.panel-body {
  border: 10px solid #999;
}

.panel-title > a, .morefeilds .hdr {
    color: #428bca;
    cursor: pointer;
    .fa {
        color: $jllRed;
    }
}
.morefeilds .hdr{
  margin:10px 0 20px;
}
.panelfooter{
  text-align: right;
}
