/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: $topDist;
    bottom: 0;
    left: 20px;
    z-index: 1000;
    display: block;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #aeafb0;
    border-left: 1px solid #aeafb0;
    width: 273px;
    .req {
        color: #c84e51;
    }
}
/* Sidebar navigation */

.nav-sidebar {
  border-bottom: 1px solid #aeafb0;

  div {
    @extend .ellipsis;
    padding: 3px 5px;
    padding-left: 40px;
    cursor: pointer;
    &:hover{
      background-color:#deebfa;
    }
  }

  .hdr {
    padding-left: 12px;
  }
  .fa {
    transform: rotate(-90deg);
  }
  .active {
    background-color: #deebfa;
    .fa {
        transform: rotate(0deg);
    }
  }
  .hdr ~ div {
    display: none;
  }
  .active ~ div {
    display: block;
  }
}
