.row-abovetable {
  background-color: #e1e1e1;
  padding: 10px;
}
.table-responsive {
  width: 100%;
  margin-bottom: 15px;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #e1e1e1;
  .table{
    margin-bottom: 0;
  }
}
.table{
  thead{
    background-color: $darkGray;
    color: #fff;
  }
  th{
    font-weight: normal;
  }
  tbody>tr>td{
    vertical-align: middle;
  }
  tfoot{
    tr.danger td{
      background-color: $errorRed;
      color:#fff;
    }
    tr.success td{
      background-color: $darkGreen;
      color:#fff;
    }
  }
}
