
.sitetop{
  padding:0 20px;
}
h1 {
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 28px;
}
.row1, .row2 {
  padding: 14px 18px 0;
}
.row1{
  background-color:#d5d5d5;
  min-height:65px;
}

.row2{
  background-color:#b5b5b5;
  height:50px;
  label{
    color: #fff;
    font-size: 16px;

  }

}
.opp-name{
  max-width: calc(100% - 715px);
  min-width: 200px;
  position: relative;
  div{
    @extend .ellipsis;
    font-size: 21px;
    line-height: 25px;
  }
  button{
    position: absolute;
    top:-7px;
    right:-35px;
    font-size: 20px;
  }
}
